/* general stuff here */

* {
    font-family: 'Ubuntu', sans-serif;
}

.button{
    color:whitesmoke;
    padding: 15px 25px;
    background-color: #00609C;
}

body{
    margin:0;
    background-color:whitesmoke;
}

footer{
    background-color:#00609C;
    color:whitesmoke;
    display:flex;
}

/* navbar stuff here */
header {
    background-color: whitesmoke;
    border-bottom: 4px solid #F5CE3E;
    margin:0;
    min-height:75px;

}
.navbar{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    min-height:75px;
    padding:0px;
    margin:0;
}
.navbar li{
    font-size:1.3rem;
    color:#00609C;
}
.navbar li a:link, .navbar li a:visited{
    text-decoration:none;
    color:inherit;
}
.navbarlogo{
    float:left;
    width:auto;
    height:75px;
    
}
.navbar li{
    display:inline;
}
.navbuttoncontainer{
    display:none;
    background-color:#00609C;
    padding: 10px;
    margin: 5px;
    min-height:30px;
    width:50px;
    z-index:5;
}

.navbutton {
    width:50px;
    height:35px;
    background-image: url(images/Logomark/Avocy_Logomark_White-200px.png);
    background-repeat:no-repeat;
    background-size:cover;

    /* height:5px; */
    /* background-color:white; */
    margin: 6px 0;
    z-index:6;
}
.mobilenav{
    display: none;
    position: absolute;
    right:20px;
    background-color: rgba(218,223,225.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*add white chat box logo as background to the menu high opacity with the current grey
I did this, it looks pretty terrible honestly. I like the logo though menu icon! */

.mobilenav a{
    float: none;
    color: #00609C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.mobilenav a:visited{
    text-decoration:none;
}
/* here begins the work for the overlay div */
.overlay{
    background-image: linear-gradient(0deg,rgba(218,223,225,0.6),rgba(0,96,156,0.6)), url(images/Therapyheader.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    min-height:525px;

}
.overlaytext{
    float:right;
    margin: 250px 10px 0 0;
    max-width: 40vw;
    font-size:2.3em;
    color:#00609C;
}
.overlaybutton{
    float:right;
    margin-top: 400px;
    margin-right: -350px;
    margin-left: 380px;
}

/* imagebar stuff goes here */

.imagebar{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:100%;
    margin-right:0;
    margin-top:8px;
    flex-wrap:wrap;
    gap:10px;
}

.imagebar img{
    width: 12vw;
    height: auto;
    margin-left:4vw;
    min-width: 80px;
}

/* begin area for the first textbox and textboxes in general */

.textbox{
width:90%;
margin-left:5%;
}

.textheader{
    color:#00609C;
    border-bottom: 4px solid #F5CE3E;
    width:100%;
}

.textboxcontent{
    font-weight:300;
    font-size:1.3em;
}
.flexbox{
    display:flex;
}
.break-column{
    flex-basis:100%;
    width:0;
}

.textboxleft{
    width:45%;
}
.contentright{
    width:45%;
    margin-left:5%;
    margin-top: 25px;
}
/* relapse graphic creation content */
#rightgraphic{
    float:right;
    width:90%;
    margin-right:5%;
}

/* drop down reactive elements */

.dropbox{
    text-align:center;
    width:80%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin:10px 10px 10px 5%;
    padding: 5px 10px;
}
.smallimg{
    display:inline;
    max-width:50px;
    height:auto;
    filter:brightness(0) invert(1);
}
.inline{
    display:inline;
}

/* footer stuff here (except global) */
.listoflists{
    list-style-type:none;
}

/* sticky phone icon for mobile only to call directly */

@media screen and (max-width:850px){
    .overlay{
        height:70vh;
    }
    .overlaytext{
        display:block;
        max-width:85%;
        margin:45vh 5% 2vh 5%;
        font-size:2.5em;
        text-align:center;
    }
    .overlaybutton{
        margin: 50px 10px 50px 30px;
        padding: 10px 15px;
    }
}

@media screen and (max-width:420px){
    .overlaytext{
        font-size:1.5em;
    }
    .overlaybutton{
        display:block;
        width:80%;
        margin-top:1vh;
        margin-bottom:1vh;
        
    }
    .mobilenav{
        width:100%;
    }
    .imagebar img{
        min-width:120px;
    }
}



@media screen and (max-width:700px){
    .navbar{
        display:none;
    }
    .navbuttoncontainer{
        display:block;
        float: right;
        border-radius:5px;
    }
    .mobilenav{
        position:fixed;
        top:75px;
        right:0;
        text-align:right;
    }
    .mobilenav a{
        text-align:right;
        font-size:1.1em;
        border-bottom: 1px solid white;
    }
    .navbuttoncontainer:hover .mobilenav{ display:block; }
    .navbuttoncontainer:active .mobilenav{ display:block; }
    .flexbox{
        display:block;
    }
    .contentright{
        width:80%;
    }
    .textboxleft{
        width:80%;
    }
}